.one{
    background-color: #1f2937;
    display: inline-flex;
    
}

.one h2{
    color: #f9faf8;
}

.one-a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.one h1{
    color: #f9faf8;
}

.one-b p{
    display: block;
}

.headerlinks{
    display: inline-flex;
    list-style-type: none;
    justify-content: space-between;
    margin: 10px;
    padding-left:10px;
    color: #e5e7eb;
    
}


#astro{
    height: 100px;
    width: 200px;
    align-self: center;
}

.one-b{
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}

.two{
    align-items: center;
    justify-content: space-around;

}

.two-a{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    border: 5px solid blue;
    padding: 10px;
}

.three{
    background-color: #e5e7eb;
}

.four{
    background-color: #3882f6;
}

.footer{
    background-color: #1f2937;
}

div{
    margin: 10px;
}